# Ignore .env file (local environment variables)
.env

# Ignore Firebase key file
FirebaseKey/

# Ignore build artifacts
bin/
obj/

# Ignore Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
